

/* body {
  margin: 0;
  padding: 0;
  background-color: #202020;
}  */


/* @media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
} */
/* 
@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
  .cards__item {
    margin-bottom: 2rem;
  }
} */


* {
  background-color: #202020;
  padding: 0;
  margin: 0;
  animation: fadeIn 2s;
  opacity: 1;
}

#root {
  margin: 0px;
  padding: 0px;
  height: 0px;
}
/* .wyncode img {
//going to center the logo
} */
